<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/incidencias.css">
    <title>PLANILLA TECNICA SANTIAGO</title>

</head>
<body>
    <header>
        <img src="/images/Express.png" alt="Logo Express">
        <h1 class="titulo">INCIDENCIAS MASIVAS</h1>
        <div class="cosas">
            <button>
                <a href="/">PLANILLA TECNICA</a></button>
            <input class="fecha"  type="date" placeholder="Ingrese la fecha">

        </div>
    </header>
    <br>
    <br>
    <br>


<div class="tabla">
    <table>
        <thead>
            <tr>
                <th>NODO</th>
                <th>ESTADO</th>
                <th>PROBLEMA</th>
                <th>HORA I</th>
                <th>SOLUCION</th>
                <th>HORA F</th>
                <th>TECNICOS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
            <tr>
                <td><input type="text" placeholder="nodo"></td>
                <td><select name="" id="">
                    <option value="En camino a verificar"> </option>
                    <option value="En camino a verificar">En camino</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizado">Finalizado</option>
                </select></td>
                <td><input type="text" placeholder="problema"></td>
                <td><input type="text" placeholder="hora i"></td>
                <td><input type="text" placeholder="solucion"></td>
                <td><input type="text" placeholder="hora f"></td>
                <td><input type="text" placeholder="tecnicos"></td>
            </tr>
        </tbody>
    </table>
</div>

<footer class="footer">

</footer>

</body>
</html>
