<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/planilla.css">
    <title>PLANILLA TECNICA SANTIAGO</title>
</head>
<body class="body">
    <header class="header">
        <div class="logo">
            <img src="/images/Express.png" alt="Logo Express">
        </div>

        <div class="titulo">
            <h1><figure id="fecha-actual"></figure>

                <script>
                    // Obtén la fecha actual
                    const fechaActual = new Date();
            
                    // Obten los componentes de la fecha
                    const dia = fechaActual.getDate();
                    const mes = fechaActual.getMonth() + 1; // Suma 1 ya que los meses comienzan desde 0
                    const año = fechaActual.getFullYear();
            
                    // Formatea la fecha como desees
                    const fechaFormateada = `${dia}/${mes}/${año}`;
            
                    // Inserta la fecha en la etiqueta con el id "fecha-actual"
                    document.getElementById('fecha-actual').innerText = `PLANILLA TECNICA  ${fechaFormateada}`;
                </script></h1>

        </div>

        <div class="botones"> 
            <button>
                <a href="/incidencias.html">INCIDENCIAS</a>
            </button>
            <button>
                <a href="http://monitoreohfc.tv-sa.com.ar/">MONITOREO HFC</a>
            </button>
            <button>
                <a href="http://200.81.125.175:8080/login.php?base_url=">STECH G-PON</a>
            </button>
            <button>
                <a href="https://bp.express.com.ar/auth/realms/main/protocol/openid-connect/auth?client_id=dsa&redirect_uri=https%3A%2F%2Fdsa.express.com.ar%2Flogin&state=2442c784-b4dc-48bb-9449-11031653330c&response_mode=fragment&response_type=code&scope=openid&nonce=dacf1cbd-fe45-4844-aba6-001ea0436783">STECH CM</a>
            </button>
            <button>
                <a href="https://drive.google.com/drive/folders/1Dr_28ndqmVRbm6p8TnGehYNgkE-A5FAx?usp=drive_link">PLANOS</a>
            </button>
        </div>
    </header>

<section> 
<div class="tabla">
    <table>
        <tbody>
            <tr class="de8-a-16">
                <td class="horario">8 A 16</td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input class="ultima" type="text" placeholder=""></td>
        </tbody>
        <tbody>
            <tr class="de8-a-14">
                <td class="horario">8 A 14</td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
            </tr>
            <tr class="de14-a-20">
                <td class="horario">14 A 20</td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
            </tr>
            </tr>
            <tr class="de16-a-20">
                <td class="horario">16 A 20</td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
                <td><input  id="ZONA" type="text" placeholder="ZONA"><input type="text" placeholder=""><input type="text" placeholder=""><input type="text" placeholder="" ><input class="ultima" type="text" placeholder=""></td>
            </tr>
            </tr>
        </tbody>
    </table>
</div>
</section>


<footer class="footer">

</footer>

</body>
</html>
