<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/planilla.css">
    <title>PLANILLA TECNICA SANTIAGO</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <img src="/images/Express.png" alt="Logo Express">
        <h1 class="titulo">PLANILLA TECNICA 2023</h1>
        <div class="cosas">
            <input class="cosas2"  type="date" placeholder="Ingrese la fecha">
        </div>
    </header>
    <br>
    <br>
    <br>


<div class="tabla">
    <table>
        <thead>
            <tr>
                <th>Centro Operativo</th>
                <th>CENTRO</th>
                <th>NORTE</th>
                <th>OESTE</th>
                <th>SUR</th>
                <th>B CENTRO</th>
                <th>B SUR</th>
                <th>B NORTE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8 A 16</td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>

            </tr>
            <tr>
                <td>8 A 14</td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>

            </tr>
            <tr>
                <td>14 A 20</td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>

            </tr>
            <tr>
                <td>16 A 20</td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>

            </tr>
            <tr>
                <td>URGENTES</td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>
                <td><input type="text" placeholder="tencios"><input type="text" placeholder="movil"><input type="text" placeholder="bolso"><input type="text" placeholder="camioneta"></td>

            </tr>
        </tbody>
    </table>
</div>
   

</body>
</html>
