*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("https://img.freepik.com/foto-gratis/bastidores-servidores-centro-datos-sala-servidores-seguridad-red-informatica-d-render-azul-oscuro-ai-generativo_1258-150894.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;

}

.header {
    justify-content: center;
    background-color: rgba(239, 239, 242, 0.5);
    margin: 0.5em;
    margin-bottom: 2em;
    margin-top: 1em;
}

.logo  {
    display: flex;
    justify-content: start;
    height: 8em;
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: -1em;
    opacity: 1;
}

.botones{
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: black;
    opacity: 1;
    
    
}

.botones button{
    font-size: 0.4em;
    font-weight: bold;
    margin: 1em;
    border: solid black 3px;
    border-radius: 5px;
    width: 10em;
    background-color: rgba(255, 255, 255, 00.5)
}

.botones button a {
    color: black;
    text-decoration: none;
}


.botones button:hover {
    background-color: rgb(238, 84, 84) ;
}

.tabla {
    display: flex;
    background-color: rgb(19, 19, 196) ;
    text-align: center;
    font-weight: bold;
    color: black;
    flex-wrap: nowrap;
    
}

#ZONA {
    background-color: rgb(179, 100, 27);
}




.de8-a-16 input {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(143, 135, 135);
    border-radius: 5px;
    width: 15em;
    height: 2.5em;
    text-shadow: 1em;
}
.de8-a-16 input:hover {
    background-color: rgb(238, 84, 84) !important;
    border: solid black 5px !important;
}
.de8-a-16 input:focus {
    background-color: rgb(238, 84, 84)  !important;
}
.de8-a-16 input:not(:placeholder-shown):valid {
    background-color: rgb(65, 228, 138);
}



.de8-a-14 input {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(143, 135, 135);
    border-radius: 5px;
    width: 15em;
    height: 2.5em;
    text-shadow: 1em;
}
.de8-a-14 input:hover {
    background-color: rgb(238, 84, 84) !important;
    border: solid black 5px !important;
}
.de8-a-14 input:focus {
    background-color: rgb(238, 84, 84)  !important;
}
.de8-a-14 input:not(:placeholder-shown):valid {
    background-color: rgb(65, 228, 138);
}


.de14-a-20 input {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(143, 135, 135);
    border-radius: 5px;
    width: 15em;
    height: 2.5em;
}
.de14-a-20 input:hover {
    background-color: rgb(238, 84, 84) !important;
    border: solid black 5px !important;
}
.de14-a-20 input:focus {
    background-color: rgb(238, 84, 84)  !important;
}
.de14-a-20 input:not(:placeholder-shown):valid {
    background-color: rgb(65, 228, 138);
}


.de16-a-20 input {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: rgb(143, 135, 135);
    border-radius: 5px;
    width: 15em;
    height: 2.5em;
}
.de16-a-20 input:hover {
    background-color: rgb(238, 84, 84) !important;
    border: solid black 5px !important;
}
.de16-a-20 input:focus {
    background-color: rgb(238, 84, 84)  !important;
}
.de16-a-20 input:not(:placeholder-shown):valid {
    background-color: rgb(65, 228, 138);
}

.ultima {
    margin-bottom: 1em;
}

.horario    {
    font-size: 1.8em;
    background-color: rgba(255, 255, 255, 0.2);
}






